html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

p {
  line-height: 1.5;
}

p, li {
  font-size: 1rem;
  margin-bottom: 1em;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #2c4165;
}

.text-primary {
  color: #3c5888 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
sub {
  font-weight: bold;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #373737;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 40px;
  color: #3c5888;
}

section {
  padding: 25px 0;
}

section p, section li {
  font-size: 1rem;
}

section img {
  width: 100%;
}

section h2, section h3 {
  text-align: center;
}

section h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.5rem;
}

ul.social-buttons .fb-bg {
  background-color: #475993;
}

ul.social-buttons .twitter-bg {
  background-color: #76a9ea;
}

ul.social-buttons .linkedn-bg {
  background-color: #0077b7;
}

.btn {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #3c5888;
  border-radius: 12px;
  font-size: 24px;
  padding: 10px;
}

.btn:active, .btn:focus, .btn:hover {
  background-color: #4dadf7 !important;
  color: #FFF;
}

.btn.btn-request-quote, .btn#profilesRhBtn {
  width: 100%;
  color: #fff;
  background-color: #3c5888;
}

a.btn-orange {
  background-color: #f33816 !important;
  color: #FFFFFF;
}

a.btn-orange:hover {
  background-color: #4dadf7 !important;
  color: #FFFFFF;
  box-shadow: none;
}

a.btn-white {
  background-color: #FFF !important;
  color: #373737;
}

a.btn-white:hover {
  background-color: #4dadf7 !important;
  color: #FFF;
  box-shadow: none;
}

a.btn-green {
  background-color: #509a6e !important;
  color: #fff;
}

a.btn-green:hover {
  background-color: #4dadf7 !important;
  color: #FFF;
  box-shadow: none;
}

a.btn-gold {
  background-color: #C5B358 !important;
  color: #fff;
}

a.btn-gold:hover {
  background-color: #161408;
  color: #FFF;
  box-shadow: none;
}

#christmas-btn {
  position: relative;
}

#christmas-btn img {
  height: 50px;
  position: absolute;
}

#christmas-btn img.left {
  left: -10px;
  top: 0;
}

#christmas-btn img.right {
  right: -10px;
  top: 0;
}

#christmas-btn a.btn-christmas {
  background-color: #70aa6c !important;
  color: #fff;
}

#christmas-btn a.btn-christmas:hover {
  background-color: #f65c54 !important;
  color: #FFF;
  box-shadow: none;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.btn-red {
  font-size: 1rem;
  background-color: #f5686a;
  color: #fff;
  padding: 0px 20px;
}

.btn-red:hover {
  background-color: #4dadf7;
  color: #FFF;
  box-shadow: none;
}

.btn-blue {
  background-color: #4dadf7 !important;
  color: #fff;
}

.btn-blue:hover {
  background-color: #FFF !important;
  color: #4dadf7 !important;
  box-shadow: none;
}

.btn-gray {
  background-color: #878f99 !important;
  color: #fff !important;
}

.btn-gray:hover {
  background-color: #4dadf7 !important;
  color: #fff !important;
  box-shadow: none;
}

.btn-brown {
  background-color: #b9936c !important;
  color: #fff !important;
}

.btn-brown:hover {
  background-color: #4dadf7 !important;
  color: #fff !important;
  box-shadow: none;
}

.btn-peach {
  background-color: #D48166 !important;
  color: #fff !important;
}

.btn-peach:hover {
  background-color: #4dadf7 !important;
  color: #fff !important;
  box-shadow: none;
}

.bg-green {
  color: #fff;
  background-color: #5fba7d;
}

.bg-orange {
  background-color: #f3ae7c !important;
}

.url-btn {
  margin: 1.5em .3em 0.5em;
}

.url-btn a {
  color: #fff;
  font-size: 1rem;
  padding: 0.5em;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
  margin: 1.5em auto 1em;
  background-color: #416984;
  border: solid 2px #fff;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-transition: border-color 1s ease-out;
  -moz-transition: border-color 1s ease-out;
  -o-transition: border-color 1s ease-out;
  transition: border-color 1s ease-out;
}

.url-btn a.active, .url-btn a:hover {
  background-color: rgba(74, 144, 226, 0.8);
  border: solid 2px #62bcfa;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  -webkit-transition: border-color 1s ease-out;
  -moz-transition: border-color 1s ease-out;
  -o-transition: border-color 1s ease-out;
  transition: border-color 1s ease-out;
  color: #fff;
}

.anchor-content {
  color: #ff9e77;
  -webkit-transition: color 1s;
  /* For Safari 3.0 to 6.0 */
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  transition: color 1s;
  /* For modern browsers */
}

.anchor-content:hover {
  color: #ff7a44;
  -webkit-transition: color 1s;
  /* For Safari 3.0 to 6.0 */
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  transition: color 1s;
  /* For modern browsers */
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
  #christmas-btn img.left {
    left: -40px;
    top: 0;
  }
  #christmas-btn img.right {
    right: -40px;
    top: 0;
  }
  .url-btn {
    width: 50%;
    margin: 1.5em auto 1em;
  }
  p {
    line-height: 1.5;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  section {
    padding: 50px 0 0 0;
  }
  section h2, section h3 {
    text-align: left;
  }
  section h3 {
    margin-bottom: 30px;
    font-size: 1.75rem;
  }
}

#mainNav {
  background-color: white;
}

#mainNav .navbar-toggler {
  font-size: 0.7rem;
  right: 0;
  padding: 0.9em;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #2c4165;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
}

#mainNav .navbar-toggler i {
  font-size: 1.1em;
}

#mainNav .navbar-toggler .fa-times, #mainNav .navbar-toggler .fa-bars {
  transition: opacity .3s, transform .3s;
}

#mainNav .navbar-toggler .fa-times {
  transform: rotate(-180deg);
}

#mainNav .navbar-brand {
  color: #3c5888;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fff;
}

#mainNav .navbar-nav .nav-item.mobile {
  display: block;
  border: solid #C5B358 3px;
  background-color: #D4AF37;
}

#mainNav .navbar-nav .nav-item.mobile a {
  color: #FFF !important;
}

#mainNav .navbar-nav .nav-item {
  text-align: center;
  font-size: 1rem;
}

#mainNav .navbar-nav .nav-item a.nav-link {
  font-size: 90%;
  font-weight: 700;
  padding: 0.3em 0;
  letter-spacing: 1px;
  color: #3c5888;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item a.nav-link.active {
  background-color: #91aaf1;
  color: #FFFFFF;
}

#mainNav .navbar-nav li.dropdown, #mainNav .navbar-nav .dropdown li {
  margin-bottom: 1rem;
}

#mainNav .navbar-nav li.dropdown > ul.dropdown-menu {
  top: 70%;
  border-radius: 0;
}

#mainNav .navbar-nav li.dropdown > ul.dropdown-menu a {
  font-size: 0.7em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  color: #373737;
}

#mainNav .navbar-nav li.dropdown > ul.dropdown-menu a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#mainNav .navbar-nav li.dropdown > ul.dropdown-menu a:focus:before, #mainNav .navbar-nav li.dropdown > ul.dropdown-menu a:active:before, #mainNav .navbar-nav li.dropdown > ul.dropdown-menu a:hover:before {
  left: 5%;
  right: 10%;
}

#mainNav .navbar-nav li.dropdown:hover > ul.dropdown-menu {
  -webkit-animation: fadeIn 1s ease-out;
  animation: fadeIn 1s ease-out;
  cursor: pointer;
  border-radius: 5px;
}

#mainNav .navbar-nav li.dropdown:hover > ul.dropdown-menu a {
  background-color: transparent;
}

#mainNav .navbar-nav li.dropdown:hover > ul.dropdown-menu.full {
  left: 40%;
  top: 15%;
  background-color: rgba(101, 189, 230, 0.8);
  /* For browsers that do not support gradients */
  background-color: #63BCE5;
}

#mainNav .navbar-nav li.dropdown:hover > ul.dropdown-menu.full a {
  color: #fff;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#mainNav #navbarResponsive {
  border-top: 1px solid #EEE;
  margin-top: 10px;
}

#mainNav #navbarResponsive .dash {
  display: inline-block;
}

#sidebar-wrapper {
  display: block;
}

@media (min-width: 20em) {
  .navbar-brand img {
    height: 60px;
  }
  .navbar-brand div {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    color: #3c5888;
    padding: 0.5em;
  }
}

@media (min-width: 22em) {
  #mainNav .navbar-brand img {
    height: 65px;
  }
  #mainNav .navbar-brand div {
    font-size: 0.8em;
  }
}

@media (min-width: 24em) {
  #mainNav .navbar-toggler {
    font-size: 0.8rem;
  }
  #mainNav .navbar-brand img {
    height: 70px;
  }
  #mainNav .navbar-brand div {
    font-size: 0.9em;
  }
}

@media (min-width: 22em) and (orientation: landscape) {
  #mainNav .navbar-brand div {
    font-size: 1.25rem;
  }
  #mainNav .navbar-nav li.dropdown > ul.dropdown-menu a {
    font-size: 1em;
  }
  .fixed-top {
    position: relative;
  }
}

@media (min-width: 48em) {
  #mainNav .navbar-toggler {
    font-size: 1rem;
  }
  #mainNav .navbar-brand img {
    height: 80px;
  }
  #mainNav .navbar-brand div {
    font-size: 1.2em;
  }
  #mainNav .navbar-nav li.dropdown > ul.dropdown-menu a {
    font-size: 1em;
  }
}

@media (min-width: 64em) {
  #mainNav {
    padding-top: .5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-brand img {
    height: 80px;
  }
  #mainNav .navbar-brand div {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    display: block;
    font-weight: 800 !important;
    position: relative;
    bottom: 0;
    margin-left: 0;
    font-size: 1.25rem;
    padding: 0;
  }
  #mainNav .navbar-nav .nav-item.mobile {
    display: none;
  }
  #mainNav .navbar-nav .nav-item a.nav-link {
    color: #fff;
    padding: 1.1em 1em !important;
  }
  #mainNav .navbar-nav .nav-item a.nav-link.active, #mainNav .navbar-nav .nav-item a.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }
  #mainNav .navbar-nav .nav-item a.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item a.emp {
    border: solid 2px #62bcfa;
    background-color: #62bcfa;
    background-color: rgba(98, 188, 250, 0.6);
    margin-left: 4em;
    -webkit-transition: border-color 1s ease-out;
    -moz-transition: border-color 1s ease-out;
    -o-transition: border-color 1s ease-out;
    transition: border-color 1s ease-out;
  }
  #mainNav .navbar-nav .nav-item a.emp.active, #mainNav .navbar-nav .nav-item a.emp:hover {
    background-color: rgba(74, 144, 226, 0.8);
    border: solid 2px #fff;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    -webkit-transition: border-color 1s ease-out;
    -moz-transition: border-color 1s ease-out;
    -o-transition: border-color 1s ease-out;
    transition: border-color 1s ease-out;
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item a.emp.active {
    background-color: rgba(74, 144, 226, 0.6);
  }
  #mainNav .navbar-nav li.dropdown > ul.dropdown-menu a {
    text-align: left;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(140deg, #678BEF, #3861F4);
    /* Standard syntax (must be last) */
    background-color: #678BEF;
    /* For browsers that do not support gradients */
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.15);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    -webkit-transition: border-color 1s ease-out;
    -moz-transition: border-color 1s ease-out;
    -o-transition: border-color 1s ease-out;
    transition: border-color 1s ease-out;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
  #mainNav.navbar-shrink .navbar-brand img {
    height: 40px;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item a.nav-link {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item a.nav-link.active, #mainNav.navbar-shrink .navbar-nav .nav-item a.nav-link:hover {
    background-color: rgba(225, 225, 225, 0.4);
    color: #fff;
    border-radius: 3px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item a.emp {
    background-color: transparent;
    border-color: #fff;
    -webkit-transition: border-color 1s ease-out;
    -moz-transition: border-color 1s ease-out;
    -o-transition: border-color 1s ease-out;
    transition: border-color 1s ease-out;
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item a.emp.active, #mainNav.navbar-shrink .navbar-nav .nav-item a.emp:hover {
    background-color: rgba(74, 144, 226, 0.8);
    color: #fff;
    border-radius: 3px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }
  #mainNav #navbarResponsive {
    border-top: none;
  }
  #mainNav #navbarResponsive .dash {
    display: none;
  }
  .fixed-top {
    position: fixed;
  }
}

@media (min-width: 67em) {
  .navbar-nav li.dropdown.main:hover a.main:after {
    transform: rotate(180deg);
  }
  .navbar-nav li.dropdown.sub:hover a.sub:after {
    transform: rotate(-90deg);
  }
  .navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

header.foldhead {
  background: url("../images/home-bg-mobile.jpg");
  background-position: top center;
}

header.producthead {
  background: url("../images/products/product-bg-mobile.jpg");
  background-position: right center;
}

header.servicehead {
  background: url("../images/services/engineering-services-mobile.jpg");
  background-position: right center;
}

header.projecthead {
  background: url("../images/projects/projects-bg-mobile.jpg");
  background-position: right center;
}

header.careerhead {
  background: url("../images/careers/careers-bg.svg");
  background-position: right center;
}

header.foldhead, header.producthead, header.servicehead, header.projecthead, header.sitemap, header.careerhead {
  text-align: center;
  color: white;
  padding-bottom: 2rem;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.foldhead .foldhead-container, header.producthead .foldhead-container, header.servicehead .foldhead-container, header.projecthead .foldhead-container, header.sitemap .foldhead-container, header.careerhead .foldhead-container {
  margin-top: 7rem;
  margin-bottom: 1.5rem;
}

header.foldhead .foldhead-container h1, header.producthead .foldhead-container h1, header.servicehead .foldhead-container h1, header.projecthead .foldhead-container h1, header.sitemap .foldhead-container h1, header.careerhead .foldhead-container h1 {
  font-size: 3rem;
  color: #fff;
}

header.foldhead .foldhead-container h1, header.foldhead .foldhead-container p, header.producthead .foldhead-container h1, header.producthead .foldhead-container p, header.servicehead .foldhead-container h1, header.servicehead .foldhead-container p, header.projecthead .foldhead-container h1, header.projecthead .foldhead-container p, header.sitemap .foldhead-container h1, header.sitemap .foldhead-container p, header.careerhead .foldhead-container h1, header.careerhead .foldhead-container p {
  margin-bottom: 20px;
}

header.projecthead .foldhead-container h1 {
  font-size: 2rem;
  text-align: center;
}

header.projecthead .foldhead-container.content p {
  text-align: justify;
}

header.projecthead .foldhead-container.image {
  margin: 0;
  padding: 15px 0 0;
}

header.projecthead .foldhead-container.image p {
  margin-bottom: 0;
  font-size: 1rem;
}

header.projecthead .foldhead-container.image img {
  margin-bottom: 10px;
}

header.projecthead .foldhead-container.image p:last-of-type {
  margin-bottom: 20px;
  font-size: 0.8rem;
}

header.projecthead .foldhead-container.image br {
  display: none;
}

header.sitemap {
  background-color: #373737;
}

@media (min-width: 20em) and (orientation: landscape) {
  header.foldhead {
    background: url("../images/home-bg.jpg");
  }
  header.producthead {
    background: url("../images/products/product-bg.jpg");
  }
  header.servicehead {
    background: url("../images/services/engineering-services.jpg");
  }
  header.projecthead {
    background: url("../images/projects/projects-bg.jpg");
    background-position: right center;
  }
  header.foldhead, header.producthead {
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header.foldhead .foldhead-container, header.producthead .foldhead-container, header.servicehead .foldhead-container, header.projecthead .foldhead-container, header.sitemap .foldhead-container, header.careerhead .foldhead-container {
    margin-top: 2.5rem;
  }
}

@media (min-width: 48em) {
  header.foldhead .foldhead-container, header.foldhead .foldhead-container.image, header.producthead .foldhead-container, header.producthead .foldhead-container.image, header.servicehead .foldhead-container, header.servicehead .foldhead-container.image, header.projecthead .foldhead-container, header.projecthead .foldhead-container.image, header.sitemap .foldhead-container, header.sitemap .foldhead-container.image, header.careerhead .foldhead-container, header.careerhead .foldhead-container.image {
    text-align: center;
    margin-top: 8rem;
    padding: 2.5rem 0 0;
  }
  header.foldhead .foldhead-container {
    text-align: left;
  }
  header.projecthead h1 {
    font-size: 2rem;
  }
  header.projecthead .foldhead-container.image {
    text-align: left;
  }
  header.projecthead .foldhead-container.image p:last-of-type {
    margin-bottom: 20px;
    font-size: 0.9em;
  }
  header.projecthead .foldhead-container.image .photo-content {
    clear: both;
  }
  header.projecthead .foldhead-container.image .photo-content br {
    display: block;
  }
  header.projecthead .foldhead-container.image .photo-content p, header.projecthead .foldhead-container.image .photo-content img {
    float: left;
  }
  header.projecthead .foldhead-container.image .photo-content p {
    margin: 0 15px 0;
  }
  header.projecthead .foldhead-container.image .photo-content img {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 812px) and (max-width: 823px) and (orientation: landscape) {
  header.projecthead .foldhead-container, header.projecthead .foldhead-container.image, header.foldhead .foldhead-container, header.foldhead .foldhead-container.image {
    margin-top: 0.5rem;
  }
}

@media (min-width: 67em) {
  header.projecthead .foldhead-container.image p:last-of-type {
    font-size: 1rem;
  }
  header.projecthead .foldhead-container.image .photo-content br {
    display: none;
  }
}

footer {
  padding: 25px 0;
  background-color: #333333;
  color: #e6e6e6;
  background: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin-bottom: -1px;
}

footer p {
  font-size: .8rem;
  margin-bottom: 5px;
}

footer i {
  padding-right: 7px;
}

footer h5, footer h6 {
  color: #e6e6e6;
  text-align: left;
  margin-bottom: 25px;
  text-align: center;
}

footer .valign {
  padding-right: 10px;
  padding-bottom: 5px;
  display: flow-root;
  vertical-align: initial;
}

footer hr {
  border-color: transparent;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

footer .mt-15 {
  margin-top: 15px;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: gray;
}

footer #socials {
  margin-top: 15px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

footer #socials div {
  margin: 0 auto;
  width: 27%;
}

footer #socials div p, footer #socials div img {
  float: left;
}

footer #socials div p {
  width: 35%;
  margin-right: 5px;
  font-family: 'Roboto';
  font-weight: 900;
  text-align: right;
}

div.cpright {
  background-image: linear-gradient(140deg, #678BEF, #3861F4);
  /* Standard syntax (must be last) */
  background-color: #678BEF;
  /* For browsers that do not support gradients */
  padding: .5rem;
}

div.cpright sub {
  font-size: 75%;
  color: #fff;
  font-weight: 100;
}

div.cpright sub a {
  color: #fff;
  margin: 0;
  font-weight: 400;
}

div.cpright sub a:hover {
  color: #b3b3b3;
}

div.cpright sub span {
  display: none;
}

div.cpright img {
  height: 65px;
}

div.cpright br {
  display: block;
}

div.cpright a {
  margin: 0 1em;
}

#contactus div.cpright sub {
  font-weight: 600;
}

#contactus div.cpright sub a {
  color: #000;
}

#contactus div.cpright sub a:hover {
  color: black;
}

#call-us {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #18e60a;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  transition: transform .2s;
  z-index: 50;
  -webkit-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.5);
}

#call-us p {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  padding: 0.3em;
}

#success-alert {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 50;
}

@media (min-width: 24em), (min-width: 22em) and (orientation: landscape) {
  footer #socials div {
    width: 20%;
  }
  footer #socials div p {
    width: 34%;
  }
  div.cpright sub span {
    display: inline-block;
  }
  div.cpright sub br {
    display: none;
  }
}

@media (min-width: 46.8em) and (orientation: landscape) {
  footer #socials div {
    width: 40%;
  }
}

@media (min-width: 48em) {
  footer #socials div {
    width: 30%;
  }
  #call-us {
    display: none;
  }
}

@media (min-width: 60em) {
  footer {
    text-align: left;
  }
  footer h5, footer h6 {
    text-align: left;
  }
  footer .mt-15 {
    margin-top: 0;
  }
  footer .valign {
    display: table-cell;
    vertical-align: middle;
  }
  footer #socials {
    margin-top: initial;
  }
  footer #socials div {
    width: 100%;
  }
  footer #socials div p {
    width: 20%;
    font-size: 0.7em;
  }
  div.cpright sub {
    font-size: 1rem;
  }
}

@media (min-width: 60em) {
  footer #socials div p {
    width: 13%;
  }
}

section#s1 .row {
  margin-bottom: 15px;
}

section#s2 p.font-weight-bold {
  margin-bottom: 30px;
}

section#s3 br {
  display: none;
}

section#s4 {
  background: url("../images/photo-request-quote.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section#s4 .content {
  font-size: 1.5rem;
  color: #373737;
}

section#s4 .request-quote-tag {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

section img.img-padtop {
  padding-top: 0;
}

section .custom-box {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
  background-color: #3496f7;
  border: solid 2px #2c73a3;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
}

section .custom-box img {
  width: auto;
  height: 100px;
  margin-bottom: 15px;
}

section .custom-box p {
  color: #fff;
}

section .custom-box p.custom-box-title {
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  section#s4 {
    padding-bottom: 50px;
  }
  section#s3 h2 {
    margin-bottom: 10px;
    font-weight: 800;
  }
  section#s3 h5 {
    margin-bottom: 20px;
  }
  section#s3 ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  section#s3 li {
    padding-left: 1em;
    text-indent: -1em;
  }
  section#s3 li:before {
    font-family: 'FontAwesome';
    content: "\f058";
    margin: 0 5px 0 15px;
    color: #000;
  }
  section img.img-padtop {
    padding-top: 83px;
  }
  section .custom-box {
    margin-bottom: 15px;
  }
}

form#profilesRhForm {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1.25rem;
  border: solid 3px #03A9F4;
  padding: 20px;
  background-color: #fff;
}

form#profilesRhForm hr {
  border: solid 1px #03A9F4;
}

form#profilesRhForm .profilesRh-placeholder {
  border-radius: 10;
  min-height: 50px;
  font-size: 1.2rem;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

form#profilesRhForm .profilesRh-placeholder::-webkit-input-placeholder {
  color: #C4C4C4;
  font-weight: 500;
}

form#profilesRhForm .profilesRh-placeholder::-moz-placeholder {
  color: #C4C4C4;
  font-weight: 500;
}

form#profilesRhForm .profilesRh-placeholder:-ms-input-placeholder {
  color: #C4C4C4;
  font-weight: 500;
}

form#profilesRhForm .profilesRh-placeholder:-moz-placeholder {
  color: #C4C4C4;
  font-weight: 500;
}

form#profilesRhForm .profilesRh-placeholder::selection {
  background-color: #d6deed;
}

form#profilesRhForm .profilesRh-placeholder::moz-selection {
  background-color: #d6deed;
}

form#profilesRhForm .onHovered::-webkit-input-placeholder {
  color: #03A9F4;
}

form#profilesRhForm .onHovered:-moz-placeholder {
  color: #03A9F4;
}

form#profilesRhForm .onHovered::-moz-placeholder {
  color: #03A9F4;
}

form#profilesRhForm .onHovered:-ms-input-placeholder {
  color: #03A9F4;
}

form#profilesRhForm textarea {
  resize: none;
}

form#profilesRhForm .rc-anchor, form#profilesRhForm .g-recaptcha {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

section#s1-1 h3 {
  margin-bottom: 20px;
  font-size: 1rem;
}

section#s1-1 img {
  margin-bottom: 5px;
}

section#s1-1 h3.d-label {
  display: none;
}

section#s1-1 h3.m-label {
  display: block;
  font-weight: 700;
  margin: 0;
}

section#s1-1 sub.m-label {
  color: #007bff;
}

section#s1-1 sub.m-label:hover {
  color: black;
}

section#s1-1 .card-container .card-component div.front {
  text-align: center;
  margin-bottom: 20px;
}

section#s1-1 .fourth-card .card-component div.front {
  margin-bottom: 0px;
}

@media (min-width: 48em) {
  section#s1-1 h3 {
    font-size: 0.7rem;
  }
}

@media (min-width: 60em) {
  section#s1-1 h3.d-label {
    display: block;
    font-size: 0.8rem;
  }
  section#s1-1 h3.m-label {
    display: none;
  }
}

@media (min-width: 1200px) {
  section#s1 {
    z-index: 7;
    margin-top: -270px;
    position: relative;
  }
  section#s1-1 img {
    margin-bottom: 20px;
  }
  section#s1-1 .col-md-3 {
    max-width: 16%;
    padding-left: 100px;
  }
  section#s1-1 .card-container {
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -o-perspective: 900px;
    perspective: 900px;
    width: 300px;
    position: relative;
    margin-top: 90px;
    z-index: 6;
  }
  section#s1-1 .card-container .card-component {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 500px;
  }
  section#s1-1 .card-container .card-component .front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    -o-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    width: 100%;
    cursor: pointer;
    box-shadow: 10px 4px 14px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }
  section#s1-1 .card-container .card-component .front h3 {
    display: none;
    margin: 0;
    color: #373737;
    font-size: 1.2rem;
  }
  section#s1-1 .card-container .card-component .front:hover {
    top: -80px;
  }
  section#s1-1 .card-container .card-component .front:hover h3 {
    display: block;
  }
  section#s1-1 .first-card {
    z-index: 6;
  }
  section#s1-1 .second-card {
    z-index: 5;
  }
  section#s1-1 .third-card {
    z-index: 4;
  }
  section#s1-1 .fourth-card {
    z-index: 3;
  }
}

#messageModal .rounded-image, #careersModal .rounded-image {
  margin: auto;
  display: block;
  width: 100%;
}

#messageModal .rounded-image img, #careersModal .rounded-image img {
  border-radius: 50%;
  height: 150px;
}

#messageModal .rounded-image h2, #careersModal .rounded-image h2 {
  margin: 0;
}

#messageModal .btn-red, #careersModal .btn-red {
  font-size: 1rem;
  padding: 0px 20px;
}

#messageModal p, #careersModal p {
  text-align: justify;
}

#messageModal .modal-header, #careersModal .modal-header {
  background-color: #EEE;
}

.modal-body {
  padding: 1rem;
}

#careersModal ul {
  list-style: none;
  padding: 0;
}

#careersModal li {
  padding-left: 1.3em;
}

#careersModal li:before {
  content: "\f0b1";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}

@media (min-width: 768px) {
  #messageModal .modal-body {
    padding: 1rem 5rem;
  }
}
